<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mchs.link</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
</head>
<body>
    <img src="assets/images/qrcode.svg"/>
    <a class="center plainlink" href="./<%= shortUrl %>.html">mchs.link/<%= shortUrl %></a>
    <br>
    <div class="greybox">
        <p class="center monolink"> Redirects to </p>
        <a class="center monolink" href="<%= fullUrl %>"><%= fullUrl %></a>
        <br>
    </div>
    
    <a href="." style="text-decoration: none">
        <button class="center button">Return</button>
    </a>

</body>
</html>
